body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.container {
  display: inline-block;
  width: 1200px;
  margin: 20px calc((100% - 1200px) / 2);
}

section {
  display: inline-block;
  width: 100%;
  float: left;
  margin-bottom: 30px;
}

.section-name {
  display: inline-block;
  width: calc(100% - 20px);
  margin: 0 10px 30px;
  font-size: 36px;
  line-height: 38px;
  font-weight: 700;
}

.product {
  display: inline-block;
  float: left;
  width: calc(25% - 40px);
  margin: 0 20px;
  height: 450px;
}

.item {
  width: calc(100% - 20px);
  margin: 0 10px;
}

.item-img img {
  width: 100%;
}

.item h3 {
  margin: 10px 0;
}

.item p {
  margin-bottom: 10px;
}

.item-row {
  width: 100%;
}

.item-cost {
  display: inline-block;
  float: left;
  padding: 10px 0;
  font-weight: 700;
}

.item-button {
  display: inline-block;
  float: right;
  padding: 10px 20px;
  text-align: center;
  color: #ff6900;
  border: 1px solid #ff6900;
  border-radius: 10px;
  text-decoration: none;
}

@media (max-width: 1300px) {
  .container {
    width: 900px;
    margin: 20px calc((100% - 900px) / 2);
  }

  .product {
    width: calc(33.33% - 40px);
  }
}

@media (max-width: 1000px) {
  .container {
    width: 700px;
    margin: 20px calc((100% - 700px) / 2);
  }

  .product {
    width: calc(50% - 40px);
  }
}

@media (max-width: 800px) {
  .container {
    width: 600px;
    margin: 20px calc((100% - 600px) / 2);
  }
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    margin: 0;
  }

  .product {
    width: calc(50% - 40px);
  }

  .item-cost {
    display: block;
    width: 100%;
  }

  .item-button {
    display: block;
    width: 100%;
    float: left;
  }
}

header .row {
  display: inline-block;
  width: calc(100% - 20px);
  margin: 10px;
}

.brand {
  display: inline-block;
  float: left;
  margin-right: 20px;
}

.advert {
  display: inline-block;
  float: left;
}

.advert-row {
  display: inline-block;
  float: left;
}

.advert-row:first-child {
  margin-right: 20px;
}

.advert p {
  font-size: 20px;
  line-height: 22px;
}

.advert p:nth-child(2),
.advert p:nth-child(3) {
  color: grey;
  font-size: 16px;
}

.login {
  display: inline-block;
  float: right;
  padding: 5px 20px;
  text-align: center;
  border: 1px solid lightgrey;
  border-radius: 50px;
}

.nav {
  display: inline-block;
  float: left;
  padding: 10px 0;
}

.nav-item {
  display: inline-block;
  margin-right: 10px;
}

.basket {
  display: inline-block;
  width: 120px;
  float: right;
  color: #fff;
  background: #ff6900;
  padding: 10px;
  text-align: center;
  border: 1px solid #ff6900;
  border-radius: 10px;
  position: relative;
}

.cart-hidden {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  min-width: 350px;
  min-height: 350px;
  color: #000;
  background: #fff;
  padding: 20px 20px;
  border-radius: 10px;
  border: 1px solid #f0eeee;
  box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.33);
  opacity: 0;
  position: absolute;
  top: 50px;
  right: 0px;
}

.cart-open {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease-in;
  transition: opacity 0.25s ease-in;
}

.orange-color {
  color: #ff6900;
}

@media (max-width: 1000px) {
  .advert {
    width: 100%;
    margin-top: 10px;
  }

  .advert-row:first-child {
    margin-right: 0px;
  }

  .advert-row:last-child {
    float: right;
    margin-right: 20px;
  }
}

.testimonials {
  background: cadetblue;
}

.payment .container {
  background: chocolate;
}

footer {
  background: #373535;
  color: grey;
}

footer span {
  color: #fff;
}

.footer-row {
  display: inline-block;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer-row-left {
  float: left;
}

.footer-row-rigth {
  float: right;
  text-align: right;
}

.footer-bottom {
  display: inline-block;
  width: 100%;
  padding-top: 30px;
  border-top: 1px solid grey;
}

.footer-bottom img {
  display: inline-block;
  margin-bottom: 3px;
  margin-right: 10px;
  vertical-align: text-bottom;
}

.footer-bottom p {
  display: inline-block;
  margin-right: 10px;
}

.footer-bottom a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  color: grey;
}

.footer-bottom a:last-child {
  float: right;
  text-align: right;
  margin-right: 0;
}

